@font-face {
  src: url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-family: "Graphik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Graphik-Medium.woff2") format("woff2");
  font-family: "Graphik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/Graphik-Bold.woff2") format("woff2");
  font-family: "Graphik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::after, *::before {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: #181818;
  font-family: "Graphik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

*:focus {
  outline: none;
}

p {
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

h1 {
  font-family: Graphik;
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
}

h2 {
  font-family: Graphik;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
}

.subtitle {
  font-family: Graphik;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.black-btn {
  position: relative;
  background: transparent;
  border: 1px solid #ffffff;
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  font-size: 17px;
  overflow: hidden;
  color: #ffffff;
  cursor: pointer;
}

.blue-btn {
  position: relative;
  border: none;
  background: transparent;
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:focus,
button:hover,
button:active {
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.reset-btn {
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.liststyle {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.header__container {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 34px;
  max-width: 1047px;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  width: 419px;
}

.nav__item:not(:last-child) {
  margin-right: 53px;
}

.nav__link {
  position: relative;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in;
}

.nav__link:hover::before {
  width: 100%;
}

.header__login {
  padding: 15px 46px;
}

.header__login::after,
.header__login::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.header__login::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: translateX(-100%);
}

.header__login::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: translateX(100%);
}

.header__login:hover::before,
.header__login:hover::after {
  transform: none;
}

.header__login:hover {
  border-color: #4452FE;
}

.header__login:active {
  box-shadow: 0px 0px 4px 1px #a9a9a9;
}

.hero__container {
  padding-top: 92px;
  padding-bottom: 35px;
  flex-direction: column;
  max-width: 729px;
  text-align: center;
}

.hero__title {
  margin-bottom: 37px;
}

.hero__subtitle {
  margin: 0 auto;
  margin-bottom: 95px;
  max-width: 602px;
  letter-spacing: 0.2px;
}

.hero__button-group {
  margin: 0 auto;
}

.hero__try {
  padding: 22px 40px;
  margin-right: 35px;
}

.hero__try::after,
.hero__try::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.hero__try::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: none;
}

.hero__try::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: none;
}

.hero__try:hover::before {
  transform: translateX(-100%);
}

.hero__try:hover::after {
  transform: translateX(100%);
}

.hero__try:hover {
  outline: 1px solid #ffffff;
}

.hero__learn {
  padding: 22px 40px;
}

.hero__learn::after,
.hero__learn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.hero__learn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: translateX(-100%);
}

.hero__learn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: translateX(100%);
}

.hero__learn:hover::before,
.hero__learn:hover::after {
  transform: none;
}

.hero__learn:hover {
  border-color: #4452FE;
}

.hero__try:active {
  box-shadow: 0px 0px 6px 2px #a9a9a9;
}

.hero__learn:active {
  box-shadow: 0px 0px 4px 1px #a9a9a9;
}

.screen__section {
  position: relative;
}

.screen__container {
  max-width: 100%;
  height: 992px;
  background-image: url(./../img/screens.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 99%;
}

.screen__dashboard {
  margin: 0 auto;
}

.screen__dublbords {
  position: absolute;
  left: -86px;
  top: 285px;
}

.screen__shadow {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: 0px -557px 230px -295px #000000 inset;
}

.features__container {
  max-width: 1118px;
  padding-top: 162px;
  padding-bottom: 325px;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin-bottom: 27px;
}

.features__subtitle {
  margin-bottom: 80px;
  max-width: 602px;
  text-align: center;
}

.features__block {
  width: 100%;
  flex-wrap: wrap;
}

.features__chatbot {
  position: relative;
  margin-right: 43px;
  width: 69.4%;
  height: 659px;
  -webkit-filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
  background-image: url("./../img/ChatBot2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.features__cardsblock {
  padding-top: 84px;
}

.features__linechart {
  position: absolute;
  bottom: -100px;
  right: -28px;
}

.fetures__card {
  width: 269px;
}

.fetures__card.card1 {
  background-image: url(./../img/ic_round-restaurant-menu.png);
  background-position: 0 -10px;
  background-size: 32px 62px;
  background-repeat: no-repeat;
}

.fetures__card.card2 {
  background-image: url(./../img/mdi_alien-outline.png);
  background-position: 0 -10px;
  background-size: 33px 60px;
  background-repeat: no-repeat;
}

.fetures__card.card3 {
  background-image: url(./../img/mdi_all-inclusive.png);
  background-position: 0% -10%;
  background-size: 41px 53px;
  background-repeat: no-repeat;
}

.card__title {
  margin-bottom: 20px;
  margin-left: 45px;
  width: 150px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.card3 .card__title {
  margin-left: 55px;
}

.card__description {
  margin-left: 10px;
  width: 245px;
}

.fetures__card:not(:last-child) {
  margin-bottom: 69px;
}

.contents__container {
  flex-direction: column;
  align-items: center;
  padding-bottom: 210px;
  max-width: 1010px;
  text-align: center;
}

.contents__title {
  margin-bottom: 20px;
}

.contents__subtitle {
  max-width: 590px;
  margin-bottom: 52px;
  letter-spacing: 0.2px;
}

.contents__cards {
  width: 100%;
}

.cards__work,
.cards__design {
  padding-top: 53px;
  width: 48%;
  height: 625px;
  background-color: #ffffff;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: transform 0.2s ease-in;
}

.cards__work:hover,
.cards__design:hover {
  transform: scale(1.03);
}

.cards__work {
  margin-right: 38px;
  padding-left: 30px;
  padding-right: 30px;
}

.cards__design {
  padding-left: 13px;
  padding-right: 13px;
}

.cards__title {
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.cards__description {
  margin: 0 auto;
  margin-bottom: 69px;
  max-width: 268px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

.cards__btn {
  margin-bottom: 57px;
  padding: 15px 46px;
  background: transparent;
  z-index: 1;
}

.cards__btn::after,
.cards__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.cards__btn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: none;
}

.cards__btn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: none;
}

.cards__btn:hover::before {
  transform: translateX(-100%);
}

.cards__btn:hover::after {
  transform: translateX(100%);
}

.cards__btn:hover {
  outline: 1px solid #000000;
  color: #000;
}

.cards__btn:active {
  box-shadow: 0px 0px 8px 3px #a9a9a9;
}

.cards__design .cards__description {
  margin-bottom: 43px;
}

.cards__design .cards__btn {
  margin-bottom: 5px;
}

.gallery__container {
  flex-direction: column;
  align-items: center;
  padding-bottom: 210px;
  max-width: 1117px;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__subtitle {
  margin-bottom: 54px;
  width: 591px;
  text-align: center;
}

.gallery__slides {
  margin-bottom: 44px;
  width: 100%;
}

.slides__rec {
  border-radius: 10px;
}

.slides__top {
  margin: 0 auto;
  max-width: 1034px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 44px;
}

.slides__top img {
  transition: transform 0.2s ease-in;
}

.slides__top img:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 4px 3px #a9a9a9;
}

.slides__bottom {
  flex-wrap: wrap;
  justify-content: space-between;
}

.slides__bottom img {
  transition: transform 0.2s ease-in;
}

.slides__bottom img:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 4px 3px #a9a9a9;
}

.gallery__btn {
  padding: 14px 40px;
}

.gallery__btn::after,
.gallery__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.gallery__btn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: translateX(-100%);
}

.gallery__btn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: translateX(100%);
}

.gallery__btn:hover::before,
.gallery__btn:hover::after {
  transform: none;
}

.gallery__btn:hover {
  border-color: #4452FE;
}

.gallery__btn:active {
  box-shadow: 0px 0px 4px 1px #a9a9a9;
}

.partners__container {
  padding-bottom: 210px;
  max-width: 864px;
  flex-direction: column;
  align-items: center;
}

.partners__title {
  margin-bottom: 20px;
}

.partners__subtitle {
  margin-bottom: 60px;
  width: 590px;
  text-align: center;
}

.partners__logotips {
  margin-bottom: 54px;
  width: 100%;
  max-height: 67px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__btn {
  padding: 15px 40px;
}

.partners__btn::after,
.partners__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.partners__btn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: translateX(-100%);
}

.partners__btn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: translateX(100%);
}

.partners__btn:hover::before,
.partners__btn:hover::after {
  transform: none;
}

.partners__btn:hover {
  border-color: #4452FE;
}

.partners__btn:active {
  box-shadow: 0px 0px 4px 1px #a9a9a9;
}

.testimonials__container {
  padding-bottom: 210px;
  max-width: 912px;
  flex-direction: column;
  align-items: center;
}

.testimonials__title {
  margin-bottom: 59px;
}

.testimonials__cards {
  flex-wrap: wrap;
  justify-content: space-between;
}

.employees__item {
  margin-bottom: 20px;
  padding: 40px 76px 38px 37px;
  width: 429px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.employees__item1 {
  height: 329px;
}

.employees__item2 {
  height: 305px;
}

.employees__item3 {
  height: 305px;
}

.employees__item4 {
  height: 305px;
  transform: translate(0, -25px);
}

.employees__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.employees__header img {
  margin-right: 25px;
}

.employees__header {
  margin-bottom: 30px;
}

.media__container {
  padding-bottom: 290px;
  max-width: 1247px;
}

.media__content {
  background-color: #343434;
  border-radius: 25px;
  background-image: url(./../img/LineChartt.png);
  background-size: 48% 99%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.content__block {
  padding: 79px 47px 78px 102px;
}

.media__title {
  margin-bottom: 37px;
  max-width: 480px;
}

.media__btn {
  position: relative;
  z-index: 3;
  margin-left: -10px;
  padding: 15px 67px;
}

.media__btn::after,
.media__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #4452FE;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.media__btn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: none;
}

.media__btn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: none;
}

.media__btn:hover::before {
  transform: translateX(-100%);
}

.media__btn:hover::after {
  transform: translateX(100%);
}

.media__btn:hover {
  outline: 1px solid #000000;
}

.media__btn:active {
  box-shadow: 0px 0px 8px 3px #a9a9a9;
}

.footer__container {
  padding-bottom: 107px;
  max-width: 1059px;
  justify-content: space-between;
}

.footer__nav:not(:last-child) {
  margin-right: 96px;
}

.footer__title {
  margin-bottom: 41px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.footer__item:not(:last-child) {
  margin-bottom: 25px;
}

.footer__link {
  position: relative;
}

.footer__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in;
}

.footer__link:hover::before {
  width: 100%;
}

.address__destination {
  margin-bottom: 16px;
  padding-left: 54px;
  width: 317px;
  padding-top: 9px;
  height: 43px;
  background-image: url(./../img/bx_bx-map.png);
  background-repeat: no-repeat;
  background-size: 44px;
  background-position: left top;
}

.address__destination span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: color 0.2s ease-in;
}

.address__destination:hover span {
  color: #4452FE;
}

.address__tel {
  margin-bottom: 32px;
  padding-left: 45px;
  padding-top: 6px;
  width: 317px;
  height: 43px;
  background-image: url(./../img/ic_baseline.png);
  background-repeat: no-repeat;
  background-size: 34px 41px;
  background-position: left top;
}

.address__tel a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: color 0.2s ease-in;
}

.address__tel:hover a {
  color: #4452FE;
}

.address__soc a:not(:last-child) {
  margin-right: 33px;
}
