.first__container {
  padding-top: 92px;
  padding-bottom: 35px;
  flex-direction: column;
  max-width: 729px;
  text-align: center;
}

.first__title {
  margin-bottom: 37px;
}

.first__subtitle  {
  margin: 0 auto;
  margin-bottom: 95px;
  max-width: 602px;
  letter-spacing: 0.2px;
}

.first__button-group {
  margin: 0 auto;
  width: 387px;
}

.first__try {
  padding: 22px 40px;
  margin-right: 35px;
}

.first__learn {
  padding: 22px 40px;
}