.partners__container {
  padding-bottom: 210px;
  max-width: 864px;
  flex-direction: column;
  align-items: center;
}

.partners__title {
  margin-bottom: 20px;
}

.partners__subtitle {
  margin-bottom: 60px;
  width: 590px;
  text-align: center;
}

.partners__logotips {
  margin-bottom: 54px;
  width: 100%;
  max-height: 68px;
  flex-wrap: wrap;
}

.logotip__left, 
.logotip__right {
  width: 405px;
  justify-content: start;

  & img:not(:last-child) {
    margin-right: 74px;
    height: 60px;
  }
}

.partners__btn {
  padding: 15px 40px;
}

.partners__btn::after,
.partners__btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color:$blue;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.partners__btn::before {
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
  transform: translateX(-100%);
}

.partners__btn::after {
  right: 0;
  left: 0;
  z-index: -2;
  opacity: 0.75;
  transform: translateX(100%);
}

.partners__btn:hover::before, 
.partners__btn:hover::after {
  transform: none;
}

.partners__btn:hover {
  border-color: $blue ;
}

.partners__btn:active {
  box-shadow: 0px 0px 4px 1px #a9a9a9;
}