@media (max-width: 1110px) {
  .container {
    max-width: 750px;
  }

  .header__nav {
    display: none;
  }

  .header__burgger {
    position: relative;
    margin-top: -5px;
    display: block;
    border: none;
    width: 36px;
    height: 28px;
    background: none;
    cursor: pointer;

    span {
      position: absolute;
      display: block;
      right: 5px;
      width: 28px;
      height: 3px;
      background-color: $white;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
        width: 24px;
        height: 3px;
        display: block;
        background-color: $white;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 13px;
        width: 36px;
        height: 3px;
        display: block;
        background-color: $white;
      }
    }
  }

  .screen__container {
    height: 500px;
  }

  .features__chatbot {
    margin: 0 auto 100px;
    width: 80%;
  }

  .features__linechart {
    width: 80%;
    right: 39px;
  }

  .features__cardsblock {
    margin: 0 auto;
  }

  .features__container {
    padding-bottom: 190px;
  }

  .slides__top img {
    margin-bottom: 17px;
  }

  .slides__bottom {
    display: none;
  }

  .testimonials__container {
    height: auto;
  }

  .testimonials__cards {
    margin: 0 auto;
    flex-direction: column;
  }

  .employees__item4 {
    transform: translate(0, 0);
  }

  .media__content {
    flex-direction: column;
    align-items: center;
    height: 795px;
    background-color: $darkbackground;
    border-radius: 0;
    background-image: url(./../img/mediaBg2.png);
    background-size: 100% 60%;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .content__block {
    padding: 0;
  }

  .media__btn {
    display: block;
    margin: 0 auto;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__right {
    margin-bottom: 50px;
  }

  .partners__logotips {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 140px;
    max-height: 60px;
    max-width: 405px;
  }

  .partners__logotips img {
    margin-right: 50px;
    margin-bottom: 40px;
  }

  .logotip__left img:not(:last-child) {
    margin-right: 75px;
  }

  .logotip__right img:not(:last-child) {
    margin-right: 35px;
  }
}